body {
	background: url("../images/binary-data-flow.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}

table {
color: #333; /* Lighten up font color */
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
width: 80%;
border: none;
border-collapse: collapse; 
border-spacing: 0;
}

tr th:nth-child(1) { 
  border-radius: 5px 0 0 5px; 
}

tr th:last-child{
	border-radius: 0 5px 5px 0; 
}

th {
	background: linear-gradient(#333 0%,#444 100%);
	color: #FFF; 
	font-weight: bold;
	text-align: center;
	height: 40px;
}

tr:hover{
	background:#BDC3C7;
  color:#FFFFFF;
}

tr {
    border-bottom: 1px solid black;
}

tr:last-child { 
    border-bottom: none; 
}

thead {
	border-top: none;
	border-bottom: none;
}

td{ 
	border: 0 none #CCC; 
	height: 30px; 
	text-align: center;
}

.button{
	background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}