<table align="center" class="table table-hover" style="width:auto">
    <tr>
        <th>Nume</th>
        <td>{{ detalii.hostname }}</td>
    </tr>
    <tr>
        <th>Adresa IP</th>
        <td>{{ detalii.adresaIP }}</td>
    </tr>
    <tr>
        <th>Tip</th>
        <td>{{ detalii.tip }}</td>
    </tr>
    <tr>
        <th>Uptime</th>
        <td>{{ detalii.upTime }}</td>
    </tr>
    <tr>
        <th>Adresa MAC</th>
        <td>{{ detalii.adresaMAC }}</td>
    </tr>
    <tr>
        <th>Versiune Software</th>
        <td>{{ detalii.versiuneSoftware }}</td>
    </tr>
    <tr>
        <th>Familie</th>
        <td>{{ detalii.familieDevice }}</td>
    </tr>
    <tr>
        <th>Rol</th>
        <td>{{ detalii.rol }}</td>
    </tr>
    <tr>
        <th>Numar Serie</th>
        <td>{{ detalii.numarSerie }}</td>
    </tr>
    <tr>
        <th>Last updated</th>
        <td>{{ detalii.lastUpdated }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ detalii.status }}</td>
    </tr>
</table>

<button class="btn btn-info" ng-click="inapoi('/listaDispozitive')">Inapoi</button>