<div id="divInterfete">
    <table class="table" id="tabelInterfete" cellspacing="0" cellpadding="0">
        <thead id="theadInterfete">
            <tr>
                <th>Nume</th>
                <th>Adresa MAC</th>
                <th>Status</th>
                <th>Duplex</th>
            </tr>
        </thead>
        <tbody id="tbodyInterfete">
            <tr ng-repeat="interfata in interfete">
                <td class="filterable-cell">{{ interfata.portName }}</td>
                <td class="filterable-cell">{{ interfata.macAddress }}</td>
                <td class="filterable-cell">{{ interfata.status }}</td>
                <td class="filterable-cell">{{ interfata.duplex }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="inapoi">
    <button class="btn btn-info btn-large btn-block" ng-click="inapoi('/listaDispozitive')">Inapoi</button>    
</div>
