<h1 style="margin-top:30px;">Lista aplicatiilor custom</h1>
<div id="divAplicatii">
<table class="table" id="tabelAplicatii" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th></th>
            <th>Nume</th>
            <th>Clasa Trafic</th>
            <th>Protocol</th>
            <th>Port</th>
            <th>Descriere</th>
            <th>Categorie</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="aplicatie in aplicatii">
            <td><img src="/media/deleteButton.png" ng-click="stergeAplicatie(aplicatie.nume)" /></td>
            <td>{{ aplicatie.nume }}</td>
            <td>{{ aplicatie.clasaTrafic }}</td>
            <td>{{ aplicatie.protocol }}</td>
            <td>{{ aplicatie.port }}</td>
            <td>{{ aplicatie.descriere }}</td>
            <td>{{ aplicatie.categorie }}</td>
            <td><button class="btn btn-primary" ng-click="modifica('/modificareAplicatie', aplicatie.id)">Modifica</button></td>
        </tr>
    </tbody>
</table>
</div>

<div class="inapoi">
    <button class="btn btn-info btn-large btn-block" ng-click="inapoi('/paginaAdministrator')">Inapoi</button>    
</div>
