<div>
    <table align="center" class="table table-hover" style="width:auto">
        <thead>
            <tr>
                <th></th>
                <th>Nume angajat</th>
                <th>Email</th>
                <th>Pozitia detinuta</th>
                <th>Motiv schimbare in functie</th>
                <th>Data angajarii</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="angajat in angajati">
                <td><img ng-click="detalii('/comenziAngajat',angajat.id)" src="/media/butonDetalii.png" /></td>
                <td>{{ angajat.nume }}</td>
                <td>{{ angajat.email }}</td>
                <td>{{ angajat.tip }}</td>
                <td>{{ angajat.modificare }}</td>
                <td>{{ angajat.createdAt }}</td>
                <td><img ng-click="promovare(angajat.id)" src="/media/butonPromovare.png" /></td>
                <td><img ng-click="retrogradare(angajat.id)" src="/media/butonRetrogradare.png" /></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="inapoi">
    <button class="btn btn-info btn-large btn-block" id="logoutInginer" ng-click="inapoi('/login')">Inapoi</button>
</div>