<h1> THIS IS THE ADMINISTRATOR PAGE </h1>
<p>
    Administrator: {{ name }}
</p>
<button class="btn btn-warning" ng-click="dispozitive('/listaDispozitive')">Lista dispozitive</button>
<button class="btn btn-warning" ng-click="hosts('/listaHosts')">Lista hosts</button>
<button class="btn btn-warning" ng-click="hosts('/analizaRuta')">Rute</button>
<!--<button class="btn btn-warning" ng-click="politici('/listaDispozitive')">Lista dispozitive</button>-->
<button class="btn btn-info" ng-click="inapoi('/login')">Inapoi</button>