<div class="login">
    <h1>Calculare ruta</h1>
<div>
    <select ng-model="ip.sourceIP" required>
        <option value="" disabled selected>IP sursa</option>
        <option value="" disabled>Hosts</option>
        <option ng-repeat="host in hosts" value="{{host.hostIp}}">{{ host.hostIp }}</option>
        <option value="" disabled>Dispozitive</option>
        <option ng-repeat="dispozitiv in dispozitive" value="{{dispozitiv.adresaIP}}">{{ dispozitiv.adresaIP }}</option>
    </select>
</div>

<div>
    <select ng-model="ip.destIP" required>
        <option value="" disabled selected>IP destinatie</option>
        <option value="" disabled>Hosts</option>
        <option ng-repeat="host in hosts" value="{{host.hostIp}}">{{ host.hostIp }}</option>
        <option value="" disabled>Dispozitive</option>
        <option ng-repeat="dispozitiv in dispozitive" value="{{dispozitiv.adresaIP}}">{{ dispozitiv.adresaIP }}</option>
    </select>
</div>
<br></br>
<button class="btn btn-success btn-block btn-large" ng-click="ruta(ip)">Arata ruta</button>
<button class="btn btn-info btn-block btn-large" ng-click="inapoi('/paginaAdministrator')">Inapoi</button>

</div>