<div>
    <table class="table table-condensed ">
        <thead>
        <tr>
            <th>Host ip</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="host in hosts">
            <td>{{ host.hostIp }}</td>
        </tr>
        </tbody>
    </table>
    <table align="center" class="table table-hover">
        <thead>
        <tr>
            <th>Device ip</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in devices">
            <td>{{ device.ip }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <input type="text" ng-model="ip.sourceIP" placeholder="Source IP"/>
    <input type="text" ng-model="ip.destIP" placeholder="Destination IP"/>
    <button class="btn btn-success" ng-click="ruta(ip)">Arata ruta</button>
</div>